a:hover {
    text-decoration-line: none;
}

.first-letter::first-letter {
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: red;
    
}